<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>HAPPYHEIM</title>
    <!-- services 라이브러리 불러오기 -->
    
    <script src="./js/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="/static/css/chunk-common.b071bbc7.css" rel="preload" as="style"><link href="/static/js/chunk-common.a6f717e1.js" rel="preload" as="script"><link href="/static/js/chunk-vendors.82109e10.js" rel="preload" as="script"><link href="/static/js/test_list.8bbba6f2.js" rel="preload" as="script"><link href="/static/css/chunk-common.b071bbc7.css" rel="stylesheet"></head>
  <body>
    <noscript>
      <strong>We're sorry but VueDjangoPhoto/test_list.html doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/js/chunk-vendors.82109e10.js"></script><script type="text/javascript" src="/static/js/chunk-common.a6f717e1.js"></script><script type="text/javascript" src="/static/js/test_list.8bbba6f2.js"></script></body>
</html>
